#--index-url http://pypi.douban.com/simple

Django==1.7
django-parsley
django-auth-remember
django-render-json
django-render-csv
django-auth-json
python-memcached
django-social-auth
django-tables3

underscore.py
requests
redis
days

django-debug-toolbar
trunkate

Mysql-python
django-mysqlpool

uwsgi
