{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">

<meta property="qc:admins" content="1164764321410176616351141643" />
{% endblock %}

{% block body %}
    <div class="banner">
        <div class="container">
            <div class="title">南快递</div>
        </div>
    </div>

    <div class="coupons">
        <div class="container">
            <!--<a class="entry" href='coupons'></a>-->
            <a class="entry"></a>
        </div>
    </div>

    <div class="functions">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 fn">
                    <a href='sign'>
                        <div>代<span>领</span>快递</div>
                    </a>
                </div>
                <div class="col-xs-6 fn">
                    <a href='send'>
                        <div>代<span>寄</span>快递</div>
                    </a>
                </div>
                <div class="col-xs-6 fn">
                    <a href='store'>
                        <div>积分商城</div>
                    </a>
                </div>
                <div class="col-xs-6 fn">
                    <a href='profile'>
                        <div>个人中心</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include "portal/navigation.html" %}
{% endblock %}
