<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南快递</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
</head>
<body>
    <div class="banner">
        <div class="container">
            <div class="title">南快递</div>
        </div>
    </div>

    <div class="coupons">
        <div class="container">
            <a class="entry" href='coupons'></a>
        </div>
    </div>

    <div class="functions">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 fn">
                    <a href='sign'></a>
                </div>
                <div class="col-xs-6 fn">
                    <a href='send'></a>
                </div>
                <div class="col-xs-6 fn">
                    <a href='store'></a>
                </div>
                <div class="col-xs-6 fn">
                    <a href='profile'></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>