{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/store.css">
{% endblock %}

{% block body %}
<div class=" goods-wrap">
	<img src="{{ good.imgurl }}" class="product-image">
	<div class="main-item">
		<p class="item-title">{{ good.name }}</p>
		<div class="clearfix">
			<div class="recommend">
				<span class="title">推荐指数</span> :
									{% for i in good.ratingRange %}
									<span class="stars"></span>
									{% endfor %}
							</div>
			<div class="num">&nbsp;&nbsp;&nbsp;<span>剩余: </span><span> {{ good.remain }}  份 </span></div>
			
		</div>
		
		<div class="goods-info">
			<span class="title">礼品详情</span> :
			<span>{{ good.description }}</span>
		</div>
		
		<div class="deli-info">
			<b>配送信息:</b> 
			<span> <b>19点前下单当日送达，19点后次日送达</b></span>
		</div>
		<div class="pricedom">
			<div class="price"><span>兑换需 <b id="points" data-points="{{ good.points }}">{{ good.points }} </b>积分</span>/ 份</div>
			<div class="prototal">总计: <span style="font-size:24px;font-weight:600;"><b class="total-int">{{ good.points }}</b>分</span></div>
		</div>
	
		<div class="numcart clearfix">
			<div class="numbers">
				<div class="minus">-</div>
				<div class="numb"><span class="numb-int">1</span>份</div>
				<div class="plus">+</div>
			</div>
			<div id="buy-btn" class="btnaddcart clearfix" style="cursor:pointer"><span>立即兑换</span></div>
		</div>
	</div>
	
    <hr>
	<div class="footer"><a href="/tmall?authcode=test">返回积分商城首页</a></div>
</div>
<div id="order-modal" class="modal fade" aria-hidden="false">
	<div class="modal-dialog">
       	<div class="modal-content">
       		<form id="order-info-form" class="modal-body">
	        	<p><b>订单内容:</b></p>
	        	{{ good.name }} x <span id="order-modal-num">1</span>份, 共需<span id="order-modal-points">{{ good.points }}</span>积分
	       		<hr>
	       		<input type="hidden" name="goodsid" value="9">
				
				<div class="form-group">
					<input type="text" id="name" name="name" maxlength="12" placeholder="收货人姓名" value="测试" style="width:35%;margin-right:5%;" class="form-control pull-left">
					<input type="tel" id="phone" name="phone" maxlength="11" placeholder="手机号码" value="13333333333" style="width:60%" class="form-control">
				</div>
				
				<div class="form-group">
					<div class="input-group">
				       	<div class="input-group-addon" style="height:100%"><span class="glyphicon glyphicon-map-marker"></span></div>
						<input type="text" id="destination" name="destination" placeholder="送货地址" value="测试地址" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<input type="text" name="notes" placeholder="备注信息" class="form-control">
				</div>
				<div style="position:relative;left:19%">
					<button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:15px">取 消</button>
					<button id="submit-btn" type="button" class="btn btn-success">提交订单</button>
				</div>
			</form>
       	</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/item.js"></script>
{% endblock %}
