<script type="text/javascript">
    (function() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.charset = "utf-8";
        var date = new Date();
        var version = date.getFullYear() + "" + date.getMonth() + "" +
            date.getDate() + "" + date.getHours();
        script.src =
            "http://m.baidu.com/static/search/siteapp/lego/seed.js?t=" +
            version;
        script.setAttribute("data-appid", "4365005");
        document.head.appendChild(script);
    })();
</script>
