{% extends "base.html" %} 
{% block css %} 
{{ block.super }} 
<link rel="stylesheet" href="{{ STATIC_URL }}css/recent.css">
{% endblock %} 

{% block body %}
{% include 'portal/menu.html' %}
<div class="container">
    <h4>我的代领订单</h4>
    {% for order in signOrders %}
        <div class="order">
            <input name="orderid" value="{{ order.orderid }}" style="display:none">
            <div class="tips">订单号: {{ order.orderid }}</div>
            <p class='meta'>
                <b class="company-field">{{ order.company }}</b> 
                <span class="num-field">{{ order.num }}件</span>&nbsp;&nbsp;
                {% if order.status == 3 %}
                <span class="status-field label label-success label-sm">{{ order.statusString }}</span>
                {% else if order.status == 1 %}
                    <span class="status-field label label-default label-sm">{{ order.statusString }}</span>
                    <span class="btn delete-sign">删除</span>
                {% else %}
                <span class="status-field label label-default label-sm">{{ order.statusString }}</span>
                {% endif %}

                <!-- TODO
                <span class="delete-field"></span>
                -->
            </p>
            <div>收件人: {{ order.name }}</div>
            <div>地址: {{ order.destination }}</div>
            {% if order.notes %}
                <div class="warning-large">备注: {{ order.notes }}</div>
            {% endif %}
            <div class="tips">{{ order.createtime | date:'Y-m-d H:i:s' }}</div>                       
        </div>
        <hr>
    {% empty %}
        <p class="tips">最近暂无您的<b>代领</b>订单</p>
        <hr>
    {% endfor %}
    <br>

    <h4>我的代寄订单</h4>
    {% for order in sendOrders %}
        <div class="order">
            <input name="orderid" value="{{ order.orderid }}" style='display: none'>
            <div class="tips">订单号: {{ order.orderid }}</div>
            <p class='meta'>
                <b class="company-field">{{ order.company }}</b> 
                <span class="num-field">{{ order.num }}件</span>&nbsp;&nbsp;
                {% if order.status == 3 %}
                <span class="status-field label label-success label-sm">{{ order.statusString }}</span>
                {% else if order.status == 1 %}
                    <span class="status-field label label-default label-sm">{{ order.statusString }}</span> 
                    <span class="btn delete-send">删除</span>
                {% else %}
                    <span class="status-field label label-default label-sm">{{ order.statusString }}</span>
                {% endif %}
                <!-- TODO
                <span class="delete-field"></span>
                -->
            </p>
            
            <!-- todo -->
            <div>快递单号: {{ order.name }}</div>
            <span class="tips">{{ order.createtime | date:'Y-m-d H:i:s' }}</span>                       
        </div>
        <hr>
    {% empty %}
        <p class="tips">最近暂无您的<b>代寄</b>订单</p>
        <hr>
    {% endfor %}
    <p class="warning">*注 本页最多显示您最近的七条订单记录</p>
</div>
    
{% include "portal/navigation.html" %}
{% endblock %}
