{% extends "base.html" %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h4>余额与积分规则</h4>
        
        <h5>·积分赠送规则</h5>
        <p>代领快递完成后每消费1元赠送5积分</p>
        <p>代寄快递完成后每消费1元赠送3积分</p>
        <p>积分可以在积分商城兑换礼品。</p>
        <p>积分也可以在支付代领快递时抵用现金，100积分抵用1元。</p>
        
        <h5>·余额使用规则</h5>
        <p>余额可以直接用于代领代寄订单的支付。</p>
        <p>使用余额也会产生积分，规则同上。</p>
        <p>后期在开通在线支付和充值后，可以直接方便的在线支付与充值。</p>
        <br>
        <p style='color: gray; font-size: 12px;'>2014-09-15</p>
    </div>
</div>

{% include "portal/navigation.html" %}
{% endblock %}
