body {}

.banner {
    height: 152px;
    margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
    .banner {
        height: 171px;
    }
}

.banner .container {
    position: relative;
    height: 100%;
    background: url(../images/banner-bg.png) center center no-repeat;
    -webkit-background-size: cover;
}

.banner .container .title {
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    background: rgba(0, 0, 0, .3);

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.coupons {
    height: 72px;
    margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
    .coupons {
        height: 80px;
    }
}

.coupons .container {
    height: 100%;
}

.coupons .container .entry {
    display: block;
    height: 100%;
    margin-left: -5px;
    margin-right: -5px;
    background: url(../images/coupons.png) center center no-repeat;
    background-size: 100% 100%;
}

.functions .row {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
}

.functions .fn {
    padding: 5px;
}

.functions .fn > a {
    display: block;
    height: 100px;
    position: relative;
}

.functions .fn > a div {
    font-weight: lighter;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 16px;
    padding: 6px 12px;
    color: #fff;
}

.functions .fn > a div span {
    font-size: 18px;
}

.functions .fn > a[href=sign] {
    background: url(../images/sign.png) 90% 50% no-repeat #00aeef;
    background-size: 70px 70px;
}

.functions .fn > a[href=send] {
    background: url(../images/send.png) 90% 50% no-repeat #f67542;
    background-size: 70px 70px;
}

.functions .fn > a[href=store] {
    background: url(../images/store.png) 90% 50% no-repeat #f8a900;
    background-size: 70px 70px;
}

.functions .fn > a[href=profile] {
    background: url(../images/profile.png) 90% 50% no-repeat #01cf97;
    background-size: 70px 70px;
}
