.tips {
    color: gray;
    font-size: 12px;
}

.warning {
    color: red;
    font-size: 12px;
}

.order .meta {
}

hr {
    margin: 10px 0px;
}

.warning-large {
    color: red;
    font-size: 13px;
}
