<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" 
          data-toggle="collapse" 
          data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/mgr/">南快递</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if tab == 'sign_fetch' %}class="active"{% endif %}>
            <a href="/mgr/sign/fetch">代取（待领取）</a>
        </li>
        <li {% if tab == 'sign_delivery' %}class="active"{% endif %}> 
          <a href="/mgr/sign/delivery">代取（待配送）</a>
        </li>
        <li {% if tab == 'send_fetch' %} class="active" {% endif %}> 
          <a href="/mgr/send/fetch">代寄（待收件）</a>
        </li>
        <li {% if tab == 'send_delivery' %}class="active"{% endif %}> 
          <a href="/mgr/send/delivery">代寄（待寄出）</a> 
        </li>
      </ul>
    </div>
  </div>
</nav>
