{% extends "mgr/layout.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/mgr/send_fetch.css">
{% endblock %}

{% block body %}
{% include "mgr/navbar.html" with tab=request.nav.active_tab %}

<div class="container">
    <ul class="orders list-unstyled">
    {% for order in orders %}
        <li class="order">
            <p>
                <span class='text-muted'>订单号: {{ order.orderid }}</span>
                <strong>{{ order.expressName }}</strong>
                &nbsp;&nbsp;&nbsp;
                <span>1件</span>
            </p>

            <p>姓名: {{ order.name }}&nbsp;&nbsp;&nbsp;&nbsp;手机: {{ order.phone }}</p>
            <p>地址: {{ order.address }}</p>
            <p class='text-muted small'>{{ order.create_time|date:'Y-m-d h:i' }}</p>

            <p>
                <form class="form form-inline">
                    <input type="hidden" name='id' value='{{ order.id }}'>
                    <input type="text" name='order_no' class='form-control' 
                        placeholder='快递单号' style='width: 100px; display: inline;'>
                    <input type='submit' class="btn btn-success" value='完成寄出' 
                        data-loading-text='完成寄出'>    
                </form>
            </p>
        </li> 
    {% empty %}
    <li class='text-muted' style="text-align: center;">暂无订单</li>
    {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" 
        src="{{ STATIC_URL }}js/mgr/send_delivery.js"></script>
{% endblock %}