<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}<title>南快递</title>{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <style>
    .bd-share-popup, .bd-share-popup li {
        box-sizing: content-box;
    }
    </style>
    {% endblock %}

    <script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#6f1d69c4eeecce88e0d5c1cdd298b443"></script> <script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '908ba49054c78a34caede325'});</script>
</head>
<body>
    {% block body %}{% endblock %}

    {% include "ba.html" %}
</body>
</html>
